/*-- scss:functions --*/
/*-- From Julia Silge's vetiver site: https://github.com/rstudio/vetiver.rstudio.com/blob/55690889e4510c1ecc735f58417f9599b5457cb8/custom.scss --*/

/*-- scss:defaults --*/

//
// Color system
//
$white: #fff !default;
$black: #000 !default;

$sandstone-blue: #325d88 !default;
$bluegray: #c7d3e0 !default;
$darker-green: #5a7a2b !default;
$light-gray: #f1f3f5 !default;
$mid-gray: #75776d !default;
$darker-gray: #222232 !default;
$ssla-orange: #ec5e2a;

$body-bg: #222232;

// Navbar
$navbar-bg: #000010;
$navbar-fg: $bluegray !default;
$navbar-hl: $white !default;

// Links
// $link-color: $darker-green !default;
$link-color: #ab4642 !default;

// Code blocks
$code-block-bg: $darker-gray !default;

/* -- scss:mixins --*/

/*-- scss:rules --*/
// overrides selectors from Sandstone that take precedence
// over $navbar-hl
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: $white;
}

// overrides Sandstone selectors for tabset links
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: $darker-gray;
}

// make blockquote text dark enough
.blockquote {
  color: $mid-gray;
}

/*
Source - https://stackoverflow.com/q
Posted by Cxsaz, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-02, License - CC BY-SA 4.0
*/

